@import '~antd/dist/antd.css';

body{
  font-family: "Roboto", "sans-serif";
  font-size: 25px;
  box-sizing : border-box;
  color : rgb(110, 110, 110);
}

.site-layout-content {
  padding: 24px;
  min-height: 280px;
  
}

.ant-list-item:hover {
  background-color: bisque;
  cursor: pointer;
}
.logo {
  margin: 16px 24px 16px 0;
  background-image: "logo.svg";
  height: 40px;
  width: 152px
}

.NotFound {
  padding-top: 100px;
  text-align: center;
}

.brand{
  font-weight:  bold;
  font-size: 18px;
}

.price{
  font-size: 26px;
  color : rgb(110, 110, 110);
}

.description{
  font-size: 18px;
  color : rgb(110, 110, 110);
}

.price-discount{
  text-decoration: line-through;
}


